body {
  background-color: #e2dfdf;
  margin: 0;
  font-family: Arial, sans-serif;
}

.user-card {
  background-color: #ffffff;
  /* Background color */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.user-info {
  max-width: 600px;
  width: 100%;
  background-color: #f8f9fa;
  /* Background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  /* Position relative to the parent */
  display: flex;
  flex-direction: column;
}

.user-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.user-info {
  padding: 20px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  /* Text color */
  margin-top: 0;
}

.user-department,
.user-position,
.user-idnumber,
.user-username {
  font-size: 16px;
  color: #666666;
  /* Text color */
  margin: 8px 0;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.view-profile {
  color: #007bff;
  /* Text color */
  text-decoration: none;
}

.view-profile:hover {
  text-decoration: underline;
}

.contact-button {
  background-color: #28a745;
  /* Button background color */
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #218838;
  /* Button hover background color */
}